[run]
source = projects/can_data_platform
relative_files = true
omit =
    projects/can_data_platform/scripts/*
    tests/*
    */tests/*
    coverage_strategy.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:

    class .*\bProtocol\):
    @ (abc\.)?abstractmethod

[html]
directory = htmlcov
