[MASTER]
# Pylint configuration

jobs=4
persistent=yes

[MESSAGES CONTROL]
disable=
    C0111,
    R0903,
    W0212,
    C0103,
    wrong-import-position,
    import-outside-toplevel,
    import-error,
    too-many-arguments,
    too-many-locals,
    unused-argument

[REPORTS]
output-format=text
score=yes

[BASIC]
good-names=i,j,k,ex,_,f,e,id,app
const-rgx=(([A-Z_][A-Z0-9_]*)|(__.*__))$

[FORMAT]
max-line-length=79
max-module-lines=1000

[DESIGN]
max-args=7
max-locals=15
max-returns=6
max-branches=12
max-statements=50

[SIMILARITIES]
min-similarity-lines=4
